@model List<EjercicioEF.MVC.Models.CategoriesView>
@{
    ViewBag.Title = "Index";
}

<h2>Categorias</h2>

<table class="table">
    <tr>
        <td class="font-weight-bold">ID</td>
        <td class="font-weight-bold">Nombre</td>
        <td class="font-weight-bold">Descripción</td>
        <td class="font-weight-bold text-justify">Acciones</td>
    </tr>

    @foreach (var cat in Model)
    {
<tr>
    <td>@cat.Id</td>
    <td>@cat.Nombre</td>
    <td>@cat.Descripcion</td>
    <td>@Html.ActionLink("Eliminar", "Delete", new { Id = cat.Id }, new { @class = "btn btn-danger"}) ||
        @Html.ActionLink("Actualizar", "Actualizar", new { Id = cat.Id }, new { @class = "btn btn-success" })</td>
    
</tr>
    }

</table>

<div>@Html.ActionLink("Insertar", "Agregar", "Categories", new { @class = "btn btn-dark" })</div>
