@model IPagedList<EjercicioEF.MVC.Models.RAMViewModel>


@{
    ViewBag.Title = "Characters";
}

@using PagedList.Mvc;
@using PagedList;

<div class="container">
    <div class="row">

        @foreach (var item in Model)
        {
            string myId = Html.DisplayFor(model => item.Id).ToString();

            <div class="card m-3 mt-5" style="width: 18rem;">
                <img src="@Html.DisplayFor(model => item.Image)" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(model => item.Name)</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item card-text">Specie: @Html.DisplayFor(model => item.Species)</li>
                        <li class="list-group-item card-text">Status: @Html.DisplayFor(model => item.Status)</li>
                        <li class="list-group-item card-text">Gender: @Html.DisplayFor(model => item.Gender)</li>
                    </ul>
                </div>
            </div>
        }
    </div>
</div>

@Html.PagedListPager(Model, i => Url.Action("Api", "RAM", new { i }), new PagedListRenderOptions { LiElementClasses = new string[]{ "page-item" }, UlElementClasses = new string[] { "pagination" } } )



